:root { --base: 14px; }
@media (min-width:768px) { :root { --base: 16px; } }

html {
  font-size: var(--base);
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: rgba(245, 245, 245, 0.8);
}

body { font-size: 1rem; }
ul li a,
ul li a:visited,
ul li a:active {
  color: inherit !important;
  text-decoration: none;
}

ul li a:hover {
  color: #b5651d;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-family: 'Poppins', sans-serif;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  align-items: flex-start;
}

header nav img { 
  display: block;
  margin: 0 auto;
  max-width: 250px;
  height: auto;
}

.banner {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  border: .5rem solid #e7e4e1;
  box-sizing: border-box;
}

main { flex: 1; }
section { padding: 1rem; }

.promo-img {
  width: 100%;
  height: auto;
  max-width: 700px;
  display: block;
  margin: 1rem auto;
}

/* Desktop view */
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.gmap {
  padding: 1rem;
}

.gmap img {
  width: 80%;
  height: auto;
  border-style: solid;
  border-radius: 1rem;
  border-width: .30rem;
  border-color: rgba(0, 0, 0, 0.8);
}

.info img {
  justify-self: center;
  align-self: center;

}

.contact ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
}

footer hr {
  border: none;
  border-top: 0.25rem solid rgba(215, 205, 169, 1)
}

footer nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.5rem;
}

footer nav img { 
  display: block;
  max-width: 250px;
  height: auto;
  padding-left: 1rem;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  gap: .25rem;
  align-items: end;
}

/* Background */
.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("Images/bg.png") center/cover no-repeat;
  z-index: -1;
}

/* Foreground */
.content-box {
  width: 50%;
  max-width: 70vw;
  min-height: 100vh;
  margin: 0 auto;
  background: rgba(53, 56, 42, 1);
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
}

/*Menu css*/
.menu h1 {
  text-align: center;
  font-family:'Playfair Display', serif;
}

.menu hr {
  margin-left: -1rem;
  margin-right: -1rem;
  border-top: .25rem solid rgba(215, 205, 169, 1)
}

.menu h2 {
  font-family: 'Playball', serif;
  font-size: 200%
}

.menu-content {
  display: flex;
  gap: 2rem;
  justify-content: start; 
  justify-content: space-around;
}

.menu-section ul {
  font-size: 150%;
  list-style-type: circle;
  padding-left: 2rem;
}

.menu-pastries {
  font-size: 150%;
  display: grid;
  justify-items: center;

}

.notes {
  font-size: 75%;
}

/*Event-page css*/
.events {
  text-align: center;
  font-family:'Playfair Display', serif;
}
.events hr {
  margin-left: -1rem;
  margin-right: -1rem;
  border-top: .25rem solid rgba(215, 205, 169, 1)
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box-image {
  justify-self: center;
}

.box-image:last-child {
  grid-column: 1/3;
  justify-self: center;
}

.box-image img {
  border-radius: 1.5rem;
  border-style: solid;
  border-width: .30rem;
  border-color: rgba(245, 245, 245, 0.8);
}

h3 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* Mobile view */
@media (max-width: 768px) {
  .bg-layer {
    display: none;
  }
  
  .info {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .contact li {
    justify-content: center;
  }

  .contact {
    display: flex;
    flex-direction: column; /* or row if needed */
    align-items: center;
    width: 100%;
    margin-top: 1rem;

  }

  .content-box {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}
